
body{
    max-width: 1070px;
    background-color: rgb(245, 162, 53);
    margin: 0 auto; /* content center */ 
}

.hero-container button{

    background-color: aquamarine;
    padding: 10px 30px;
    font-size: 1.15em;
    border-radius: 10px;
    cursor:pointer ;
}

.hero-container {
  display: flex;
  background-color: lightgreen;
  padding: 30px;
  justify-content: space-between;  /* horizontal center */
  align-items: center; /* vertical center of page */
  /* gap: 50px; */
  border-radius: 25px;
  font-size: 1.1em;
  
}

.hero-container img {
  width: 100%;
  height: 400px;
  border-radius: 25px;
}


